flake8==4.0.1
django==4.0.4
django_filter==21.1
djangorestframework==3.13.1
bcrypt==3.2.0
tox==3.25.0
pytest_django==4.5.2
model_bakery==1.5.0
ipython==8.3.0
psycopg2_binary==2.9.3
phonenumbers==8.12.47
coverage==6.3.2
pytest_cov==3.0.0
flake8_docstrings==1.6.0